
    .call{
        background-color: rgb(255, 255, 255);
    }
    
    
        .ion-col-up{
            height: 120px;
        }
        
        .ion-col-mids{
          left: 0px;
         // right: 30px;
        }
        
        
       
        .ion-col-down{
            text-align: center;
            font-size:30px;	
            color:black;  
        }
        
        #h2style{
            text-align: center;
            font-size:30px;	
            color:black;
        }
        
        #h1style{
            text-align: center;
            font-size:60px;	
            color:black;
            
        }
        
        calls{
            background-color: rgb(255, 255, 255);
        }
        
        
            .ion-col-up-transferto{
                height: 160px;
                margin-top: -30%;
                font-size: 150%;
               // font-weight: bolder;
               
                //font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
               // background-color: rgba(255, 0, 0, 0.842);
                
               
               
            }
        
            .saving{
                font-size:25px;	
            }
            
            .ion-col-mid-transferto{
                //left: 40px;
                text-align: center;
                font-size:50px;	
                color:black;  
            }
            
            
            .ion-col-down-transferto{
                text-align: center;
                font-size:60px;	
                color:rgb(37, 197, 58);  
                text-decoration-color: green;
            }
            
            #salaryh2{
                text-align: center;
                font-size:40px;	
              //  color:rgb(105, 204, 130);
            }
        
            .change-col{
                color:rgb(105, 204, 130);
            }
            
            #salaryh1{
                text-align: center;
                font-size:60%;	
                color:black;
                
            }
            
        
        ion-icon{
           size: 120px; 
           left: 120px;
        }